@mixin fader($duration, $fadeIn: true) {
    @if $fadeIn {
        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        animation-name: fade-in;
        -webkit-animation-name: fade-in;
        -moz-animation-name: fade-in;
        
        animation-duration: $duration;
        -webkit-animation-duration: $duration;
        -moz-animation-duration: $duration;
        
    } @else {
        @keyframes fade-out {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        animation-name: fade-out;
        -webkit-animation-name: fade-out;
        -moz-animation-name: fade-out;
        
        animation-duration: $duration;
        -webkit-animation-duration: $duration;
        -moz-animation-duration: $duration;
    }
}