.profile-page{
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;

}

.left-nav {
    height: 100%;
    width: 22%;
    background-color: rgba(116, 172, 255, 0.3);
    position: relative;
    left: 10%;
}

.user-details {
    height: 400px;
    background-color: rgb(255, 231, 231);
}

.profile-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;

    .profile-tab {
        width: 50%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;

        &.current {
            background-color: rgb(0, 204, 255);
        }
    }
}