.session-form{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2% 6%;
}

.close-modal {
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 30px;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.session-form-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-form, .login-form {
    height: 50%;
    display: flex;
    flex-direction: column;

    input{
        height: 45px;
        font-size: 16px;
        padding: 0 8px;
        margin-top: 20px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border-radius: 4px;
    }

    .error-caption {
        font-size: 12px;
        font-weight: 500;
        color: rgb(138, 0, 0);
        padding-left: 4px;
    }

}

.form-submit {
    width: 33%;
    height: 40px;
    align-self: center;
    border-radius: 21px;
    font-size: 16px;
    font-weight: 700;

    &:hover {
        cursor: pointer;
        box-shadow: 1px 1px 4px rgb(15, 33, 71);
    }
}

.redirect {
    display: flex;
    position: absolute;
    bottom: 10px;

    p {
        margin-right: 6px;

        &:last-child{
            font-weight: 700;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}